<!doctype html>
<html>
<head>
	<style>
	
		body {
		margin: 0 auto;
		width: 75%;
		height: auto;
		vertical-align: middle;
		}
		
		H1 {
		text-align: center;
		}
		
		table {
		border: 1px solid black;
		}
		
		th,td {
		padding: 10px;
		text-align: left;
		border: 1px solid black;
		}
		
		#header {
		margin-left: auto;
		margin-right: auto;
		width: 75%;
		display: flex;
		align-content: center;
		}
		
		#intro {
		width=50%;
		height: auto;
		}
		
		.pic-container {
		margin-left: auto;
		margin-right: auto;
		width: 30%;
		display: flex;
		align-content: center;
		}
		
		#doge-pic, #bitcoin-pic, #ethereum-pic {
		width: auto;
		height: 250px;
		display: none;
		}
		
		#doge-btn, #bitcoin-btn, #ethereum-btn {
		width: 250px;
		height: 100px;
		horizontal-align: center;
		margin-left: auto;
		margin-right: auto;
		}

		#home-btn {
		width: 250px;
		height: 100px;
		horizontal-align: center;
		margin-left: auto;
		margin-right: auto;
		}
		
		#pic-btns {
		margin-left: auto;
		margin-right: auto;
		width: 25%;
		display: flex;
		}
		
		#prev-pic, #next-pic {
		width: 100px;
		height: 50px;
		}

		#home-wrapper {
			margin-right: auto;
			margin-left: auto;
			width: 25%;
			display: flex;
		}

		#video-wrapper{
			margin-right: auto;
			margin-left: auto;
			width: 75%;
			display: inline-block;
		}

		#bitcoin-scroll {
			Height:100px;
			width:auto;
			overflow:auto;
			background-color:rgb(168, 206, 209); 
			color:rgb(5, 5, 5);
			scrollbar-base-color:gold;
			font-family:arial;
			padding:15px;
		}
		
	</style>
<title>BDE Industries Crypto Clearinghouse</title>
</head>
<body>
{{{body}}}
</body>
</html>

