<h1>Bitcoin: Digital Gold Controlled by Chinese Hashrates</h1>
<div id='header'>
    <button onclick="window.location='/doge';" type=“button” id='doge-btn'><a href='/doge'>Dogecoin</a></button>
    <button onclick="window.location='/bitcoin';"type=“button” id='bitcoin-btn'><a href='/bitcoin'>Bitcoin</a></button>
    <button onclick="window.location='/ethereum';"type=“button” id='ethereum-btn'><a href='/ethereum'>Ethereum</a></button>
</div>
<div id='bitcoin-scroll'>
    <p>
        Bitcoin was started in 2008 and is based on the SHA-256 hash function. The SHA-256 algorithm
        was created by a person named only as "Satoshi". Bitcoins are created by 
        utilizing the aggregate electrical consumption of Austria to have computers perform
        math on the SHA-256 algorithm until a solution to the function is found. 
    </p>
    <p>
        Once a solution to the SHA-256 is found, a "block" is complete and
        appended to the blockchain. The blockchain is an open ledger of all 
        bitcoins: meaning the blockchain records the creation and transmission of all bitcoins
        over the entire life of the Bitcoin protocol. 
    </p>
    <P>
        This is scroll box and meets said requirement. 
    </P>
</div>
<div id='video-wrapper'>
    <p>Here is a link to a wonderfully informative YouTube video on Bitcoin.</p>
    <a href='https://www.youtube.com/watch?v=KTf5j9LDObk'>Bitcoin Video</a>
</div>









<div id='home-wrapper'>
<button onclick="window.location='/';"type="button" id='home-btn'><a href='/'>Home</a></button>
</div>