<h1>Dogecoin: The Volatility is the Mobility</h1>
<div id='header'>
    <button onclick="window.location='/doge';" type=“button” id='doge-btn'><a href='/doge'>Dogecoin</a></button>
    <button onclick="window.location='/bitcoin';"type=“button” id='bitcoin-btn'><a href='/bitcoin'>Bitcoin</a></button>
    <button onclick="window.location='/ethereum';"type=“button” id='ethereum-btn'><a href='/ethereum'>Ethereum</a></button>
</div>
<div>
    <p>Dogecoin is a fantastic crypto to invest in because the volatility of the 
        coin is sure to lead to the highest highs and the lowest lows. Dogecoin
        allows you to become an overnight billionaire or a street urchin
        pan-handling for your next meal. Much excite. 
    </p>
</div>

<h2>Some of the benefits of Dogecoin</h2>
<ul>
    <li>It's super cheap, so you can have a large holding of coins and feel rich</li>
    <li>Mark Cuban and Elon Musk support it. If you want to be rich, act rich.</li>
    <li>The Dogecoin mascot is a dog and everyone likes dogs.</li>
    <li>This fulfills the unordered list requirement</li>
</ul>
<div id='home-wrapper'>
<button onclick="window.location='/';"type="button" id='home-btn'><a href='/'>Home</a></button>
</div>