<h1>Ethereum: Proof of Steak... Yummo.</h1>
<div id='header'>
    <button onclick="window.location='/doge';" type=“button” id='doge-btn'><a href='/doge'>Dogecoin</a></button>
    <button onclick="window.location='/bitcoin';"type=“button” id='bitcoin-btn'><a href='/bitcoin'>Bitcoin</a></button>
    <button onclick="window.location='/ethereum';"type=“button” id='ethereum-btn'><a href='/ethereum'>Ethereum</a></button>
</div>
<p>
    Ethereum is another cryptocurrency based on Proof of Stake, rather than Proof of Work.
    I don't really understand the implications of PoS, aside from you are "staking" your coins
    in the network to facilitate coin transfer rather than "mining" by solving an algorithm.
</p>
<p>
    But not understanding a phenomena should NEVER prevent you from asserting that you know what 
    you are doing and certainly not stop you from telling other people what to do. This
    central tenet of human behavior should be clear from the opinions of people that haven't
    looked at a graph since high school Algebra 1, yet seem fully comfortable making conclusions
    about the CFR, lethality, transmission rate, or origin of SARS-CoV-2.
</p>
<p>
    So saddle up, Cowpeople, and invest your life-savings 
    into the surety that Ethereum will either make you rich or poor. 
</p>
<section>
      <fieldset>
        <div id='header'>Please Enter Your Name and Email Address</div>
        <br>
        <br>
          <legend>This is the GET Requirement</legend>
          <form action='http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php' method='GET' id='form'>
            <div>
              <label for='name'>Name: </label>
              <input type='text' name='name' id='name'>
            </div>
            <br>
            <div>
              <label for='email'>Email: </label>
              <input type='text' name='email' id='email'>
            </div>
            <br>
            <div>
              <input type='submit' id ='submit'></button>
            </div>
          </form>
      </fieldset>










<div id='home-wrapper'>
<button onclick="window.location='/';"type="button" id='home-btn'><a href='/'>Home</a></button>
</div>