<H1>Welcommen to Official Website of BDE Industries Crypto Clearinghouse</H1>
<div id='header'>
    <button onclick="window.location='/doge';" type=“button” id='doge-btn'><a href='/doge'>Dogecoin</a></button>
    <button onclick="window.location='/bitcoin';"type=“button” id='bitcoin-btn'><a href='/bitcoin'>Bitcoin</a></button>
    <button onclick="window.location='/ethereum';"type=“button” id='ethereum-btn'><a href='/ethereum'>Ethereum</a></button>
</div>
<div id='intro'>
<p>
    In the wild world of cryptocurriencies, BDE Industries Crypto Clearinghouse
    exists to act as your broker in buying and selling crypto. We provide
    no insurance concerning your investments and are incorporated in a 
    country with non-extradition to the US. So, while you won't get the best
    service from BDE Industries Crypto Clearinghouse, you might get some
    service. 
</p>
<p>
    If you had invested $1 in Bitcoin in 2012, you would now have $1 quadrillion
    dollars in USD. Though, you would have more than likely panic-sold during a 
    market correct and lost everything.
</p>
<p>
    Click the clinks at the top of the page to explore different cryptocurriencies 
    that you can invest your life-savings in.
</p>
</p>
<div class='pic-container'>
    <img src="/images/doge.png" class='pic' id='doge-pic' alt="Dogecoin" display='none'>
    <img src="/images/bitcoin.png" class='pic' id='bitcoin-pic' alt="Bitcoin" display='none'>
    <img src="/images/ethereum.jpg" class='pic' id='ethereum-pic' alt="Ethereum" display='none'>
</div>
<div id='pic-btns'>
    <button id='prev-pic' type='button'>Previous Picture</button>
    <button id ='next-pic' type='button'>Next Picture</button>
</div>
<br>
<br>
<div id='download-wrapper'>
    <p>Please, download Coinbase' pricechart below:</p><a href='downloads/test.txt' download>Download Me</a>
</div>
<br>
<br>
<script src="/scripts/index.js"></script>